section {
    display: flex !important;
    gap: 4rem;
    min-height: 100vh;
    padding: 4rem;

    &.image-first {
        flex-direction: row;
    }

    &.content-first {
        flex-direction: row-reverse;
    }

    .image {
        width: 40%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        width: 60%;
    }
}